<h2 class="text-center">
    <i class="fas fa-rss"></i>
    Blog Posts
</h2>

<ul class="list-unstyled">
    {{#each posts as |post|}}
    <li>
        {{> post-view post }}
    </li>
    {{/each}}
</ul>